.cvideo
{
    position: relative;
    z-index: 0;
    width:100%;
    overflow: hidden;
}
.video
{
   width:70%;
   margin-left:15%;
}
.controls
{
    display: flex;
    position: absolute;
    bottom:0%;
    width: 70%;
    left:15%;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: rgba(97,189,189,0.3);
    transform: translateY(100%) translateY(-10px);
    transition: all .3s;
}
.cvideo:hover .controls
{
    transform: translateY(0%);
}
.buttons
{
    margin: auto;
}
.time{
    color: floralwhite;
    padding: 5px;
}
.buttons button{
    background:none;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding:5px;
    padding-left: 2vw;
    padding-right: 2vw;
}

.buttons #mute:before
{
    content: url(/photos/mute.png);
}
.buttons #mute.unmute:before
{
    content: url(/photos/mute.png);
}
.buttons #mute.mute:before
{
    content: url(/photos/unmute.png);
}
.buttons #play:before
{
    content: url(/photos/play.png);
}
.buttons #play.play:before
{
    content: url(/photos/play.png);
}
.buttons #play.pause:before
{
    content: url(/photos/pause.png);
}

.buttons .fullscreen:before
{
    content: url(/photos/fullscreen.png);
}
.buttons .fullscreen
{
  bottom: 15%;
}
.bar
{   
    cursor: pointer;
    height: 10px;
    top:0;
    left:0;
    background-color: black;
    width:100%;
}
.orange
{
    margin-top: 1px;
    height: 8px;
    background-color: #464866;
    border-radius: 5px 5px 5px 5px;
}