a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.navbar-dark {
  background-color: #25274D;
}

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #464866;
  color:floralwhite;
}
.footer{
  background-color: #AAABB8;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.box
{
  background-color: rgba(75, 78, 88, 0.86);
  color: floralwhite;
}